streamlit
spacy==3.7.4
scispacy>=0.5.4
transformers>=4.36.0
torch>=2.1.0
keybert>=0.7.0
plotly>=5.18.0
Pillow>=10.0.0
sentencepiece
protobuf
#model download link for en_core_web_sm-3.7.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pytest>=7.4.0
